<%= form_for(@Portfolio_item) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
